* {
  box-sizing: border-box;
}
body {
  font-family: inter, sans-serif;
  display: flex;
  justify-content: center;
  background-color:lightgrey;
  margin: 0px;
}
.margin-zero {
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-container {
  width: 550px;
  height: 704px;
  background-color: white;
}
.nav-container {
  display: flex;
  height: 55px;
  width: 550px;
  background-color: #f55a5a;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  height: 24px;
  width: 24px;
}
.nav-title {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  margin-left: 7px;
}
.cards-list {
  display: flex;
  flex-direction: column;
}
.card-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin-top: 45px;
  margin-left: 40px;
}
.card-image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
}
.card-location-icon {
  width: 7px;
  height: 9.55px;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card-location {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
}
.card-maps-link {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
  margin-left: 10px;
}
.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
}
.card-period {
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2b283a;
  margin-top: 7px;
}
.card-description {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2b283a;
  margin-top: 9px;
  width: 326px;
  height: 45px;
}
.card-info-container {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}
